@font-face {
    font-family: Montserrat;
    src: url('../font/Montserrat/static/Montserrat-Regular.ttf');
}
@font-face {
    font-family: Montserrat-bold;
    src: url('../font/Montserrat/static/Montserrat-Bold.ttf');
}
@font-face {
    font-family: Piximisa;
    src: url('../font/piximisa/Piximisa\ \(1\).ttf');
}
 body {
     
    font-family: Montserrat, 'Courier New', Courier, monospace;
    background-color: #EDEDED;
}


  /* SCROLL CUSTOM */
body::-webkit-scrollbar {
    width: 0.5em;
}

 body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

 body::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-image: linear-gradient(180deg, #D0368A 0%, #708AD4 99%);
    outline: 1px solid slategrey;
}
  /* END SCROLL CUSTOM */


 /* NavBar Ketika di sorot */
.active {
    border-bottom: 2px solid #00FFCE;
}
.webinar:hover {
    border-bottom: 2px solid #00FFCE;
    transition: 0.1s;
}

 .compe:hover {
    border-bottom: 2px solid #00FFCE;
    transition: 0.1s;
}

 .about:hover {
    border-bottom: 2px solid #00FFCE;
    transition: 0.1s;
}

 /* End NavBar Ketika di sorot */


.about-find-it {
    border-radius: 10px;
    padding: 80px 60px 80px 60px;
    background-image: url(../img/kotak2.png);
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-find-it H1, .find-it-in-about H1{
    font-weight: 2000;
    font-family: Piximisa, Courier, monospace;
    color: #FFFFFF;
    text-shadow: 0 0 10px #FFFFFF, 2px 19px 2px rgba(0, 255, 206, 0);
}

.about-find-it, .find-it-in-about, .evo-verse p{
    font-size: 0.8em;
    color: #E8E9E9;
}

.btn-see-more-about-find-it {
    box-shadow: 0 0 10px #00FFCE, 2px 19px 20px rgba(0, 255, 206, 0);
}

.competition {
    letter-spacing: 3px;
    font-family: Piximisa;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 150px;
    font-size: 3em;
    text-align: center;
    color: #00FFCE;
    margin-bottom: -10px;
    text-shadow: 0 0 10px #00FFCE, 2px 2px 2px rgba(206, 89, 55, 0);
}

.head-comp label{
    font-family: montserrat-bold;
    margin-bottom: 40px;
    border-left: 70px solid #00FFCE;
    background-color: white;
    font-weight: bold;
    text-align: left;
    font-size: 0.6em;
}

.more-in-comp {
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 0.9em;
}
.more-in-comp .prize label {
     padding-left: 5px;
     border-left: 5px solid #00FFCE;
     background: rgb(0,255,206);
     background: linear-gradient(90deg, rgba(0,255,206,0.8267682072829132) 37%, rgba(233,68,202,0) 73%);
 }
.more-in-comp .exce label {
     padding-left: 5px;
     border-left: 5px solid #AC0088;
     background: rgb(0,255,206);
     background: linear-gradient(280deg, rgba(0,255,206,0) 37%, rgba(233,68,202,0.8463760504201681) 73%);
 }
.more-in-comp .chall label {
     padding-left: 5px;
     border-left: 5px solid #FFCE00;
     background: rgb(255,206,0);
     background: linear-gradient(90deg, rgba(255,206,0,0.8267682072829132) 37%, rgba(233,68,202,0) 73%);
 }

.slider{
    overflow: hidden;
    width: 70%;
    height: 370px;
    margin: auto;
    margin-bottom: 50px;
}

.slides{
    display: flex;
    height: 100%;
}

.slide{
    background-image: url(../img/kotak3.png);
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    height: 100%;
    width: 100%;
}

.slide h1{
    font-family: montserrat-bold;
}

.slide img{
    margin-right: 60px;
}


#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -100%;
}
#radio3:checked ~ .first{
    margin-left: -200%;
}
#radio4:checked ~ .first{
    margin-left: -300%;
}
#radio5:checked ~ .first{
    margin-left: -400%;
}

.slide h1{
    margin-top: 25px;
    font-size: 2em;
    font-weight: bold;
    color: #00FFCE;
}

.slide p {
    font-size: 0.8em;
    color: #E8E9E9;
}

.slide button {
    width: 150px;
    border-radius: 10px;
    box-shadow: 0 0 10px #00FFCE, 2px 2px 2px rgba(206, 89, 55, 0);
    color: #FFFFFF;
}

.galeri-comp .col-md-2{
     width: 120px; 
    height: 120px; 
}

.galeri-comp label{
    border-radius: 10px;
    font-size: 0.8em;
    text-align: center;
    color: #EDEDED;
    cursor: pointer;
    width: 120px; 
    margin: 2px;
    height: 120px; 
    background-color: #20252B;
}

/* SAAT DI SOROR */
.galeri-comp div :hover {
    border-radius: 10px;
    background-color: #00FFCE;
    color: black;
}

.webinar-sec h1{
    font-family: Piximisa, Courier, monospace;
    font-size: 48px;
    text-shadow: 0 0 10px #FFCE00, 2px 2px 2px rgba(206, 89, 55, 0);
    color: #FFCE00;
}

.webinar-sec p{
    font-size: 0.8em;
    color: #E8E9E9;
}

.webinar-sec button{
    width: 200px; 
    height: 50px;
    box-shadow: 0 0 10px #FFCE00, 2px 2px 2px rgba(206, 89, 55, 0);
    background-color: #FFCE00;
}

.text-stroke {
    font-size: 80px;
    background: -webkit-linear-gradient(180deg, rgba(255,206,0,0.9164040616246498) 0%, rgba(255,206,0,0.28895308123249297) 85%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
    -webkit-text-fill-color: #EDEDED;
    font-family: Piximisa, Courier, monospace;
}

.media-part h1{
    font-family: Piximisa, Courier, monospace;
    font-size: 40px;
}

.footer-about h4{
    font-family: Piximisa, Courier, monospace;
    font-size: 24px;
}

footer{
    font-size: 0.6em;
    color: #EDEDED;
    font-weight: bold;
    height: 100%; 
    background: rgb(115,66,123);
    background: linear-gradient(288deg, rgba(115,66,123,1) 21%, rgba(76,99,124,1) 57%, rgba(30,135,125,1) 100%);
}
