
        body {
            background-color: #EDEDED;
        }


        /* SCROLL CUSTOM */
        body::-webkit-scrollbar {
            width: 0.5em;
        }

        body::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        body::-webkit-scrollbar-thumb {
            border-radius: 30px;
            background-image: linear-gradient(180deg, #D0368A 0%, #708AD4 99%);
            outline: 1px solid slategrey;
        }
          /* END SCROLL CUSTOM */
        

        /* NavBar Ketika di sorot */
        .active {
            border-bottom: 2px solid #00FFCE;
        }
        .webinar:hover {
            border-bottom: 2px solid #00FFCE;
            transition: 0.1s;
        }

        .compe:hover {
            border-bottom: 2px solid #00FFCE;
            transition: 0.1s;
        }

        .about:hover {
            border-bottom: 2px solid #00FFCE;
            transition: 0.1s;
        }

        /* End NavBar Ketika di sorot */


        .about-find-it {
            border-radius: 10px;
            padding: 80px 60px 80px 60px;
            background-image: url(../img/kotak.png);
        }

        .about-find-it, .find-it-in-about H1,
        .future {
            color: #E8E9E9;
            font-weight: bold;
            text-shadow: 0 0 10px #FFFFFF, 2px 19px 2px rgba(0, 255, 206, 0);
        }

        .about-find-it, .find-it-in-about, .evo-verse p{
            font-size: 0.8em;
            color: #E8E9E9;
        }

        .btn-see-more-about-find-it {
            box-shadow: 0 0 10px #00FFCE, 2px 19px 20px rgba(0, 255, 206, 0);
        }

        .competition {
            font-weight: bold;
            text-transform: uppercase;
            padding-top: 150px;
            font-size: 3em;
            text-align: center;
            color: #00FFCE;
            text-shadow: 0 0 10px #00FFCE, 2px 2px 2px rgba(206, 89, 55, 0);
        }

        .more-in-comp {
            text-transform: uppercase;
            font-weight: bold;
            color: #FFFFFF;
            font-size: 0.9em;
        }

        .hackathon {
            background-image: url(../img/kotak.png);
            padding: 80px 40px 80px 40px;
            border: 2px solid #00FFCE;
        }

        .hackathon h1{
            font-weight: bold;
            color: #00FFCE;
        }

        .hackathon p {
            font-size: 0.8em;
            color: #E8E9E9;
        }

        .hackathon button {
            width: 150px;
            border-radius: 10px;
            box-shadow: 0 0 10px #00FFCE, 2px 2px 2px rgba(206, 89, 55, 0);
            color: #FFFFFF;
        }
        .hackathon button:hover {
            background-color: #00FFCE;
        }

        .webinar-sec h1{
            font-weight: bold;
            text-shadow: 0 0 10px #FFCE00, 2px 2px 2px rgba(206, 89, 55, 0);
            color: #FFCE00;
        }

        .webinar-sec p{
            font-size: 0.8em;
            color: #E8E9E9;
        }

        .webinar-sec button{
            width: 200px; 
            height: 50px;
            box-shadow: 0 0 10px #FFCE00, 2px 2px 2px rgba(206, 89, 55, 0);
            background-color: #FFCE00;
        }

        footer{
            font-size: 0.6em;
            color: #EDEDED;
            font-weight: bold;
            height: 100%; 
            background: rgb(115,66,123);
            background: linear-gradient(288deg, rgba(115,66,123,1) 21%, rgba(76,99,124,1) 57%, rgba(30,135,125,1) 100%);
        }
